{include file="header"}
<div class="container">
	<div>
		<h2>新闻列表</h2>
		<a href="{:url('add')}" class="btn btn-success">添加新闻</a>
<br>
	</div>
	<table class="table table-hover">
		<tr>
			<th>编号</th>
			<th>新闻名称</th>
			<th>操作</th>
		</tr>
		{foreach $news_list as $info}
		<tr>
			<td>{$info.id}</td>
			<td>{$info.news_name}</td>
			<td><a href="{:url('index/news/preview',['id'=>$info.id])}" class="btn btn-info" target="_blank">预览</a></td>
		</tr>
		{/foreach}
	</table>
</div>
{include file="footer"}